.App {
    text-align: center;
    margin: 0;
}

* {
    text-decoration: none;
    margin: 0 0;
}

nav {
    width: 20vw;
    height: 100vh;
    background: blue;
    position: fixed;
}

ul {
    color: white;
    font-size: 32px;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul a {
    color: white;
}

ul a:hover {
    text-decoration: underline;
}

.memes {
    width: 100%;
    margin-left: auto;
    margin-right: 0;
}
